@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #09090a;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #697C89;
  border-radius: 4px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #617C79;
  cursor: pointer;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .main-container {
    @apply mt-16 lg:pl-64 bg-white flex items-center flex-col w-full;
  }

  .main-container_content {
    @apply max-w-screen-2xl min-h-screen h-full w-full mx-auto;
  }

  .container_page {
    @apply flex flex-col w-full h-full p-6 space-y-4;
  }

  .topBar {
    @apply fixed w-full h-16 z-50 top-0 left-0 bg-white border-b-[1px] border-slate-300;
  }

  .leftSideBar {
    @apply bg-white left-0 top-0 z-20 w-64 mt-16 h-screen fixed flex-col justify-between overflow-auto max-md:hidden border-r-[1px] border-slate-300;
  }

  .bottomBar {
    @apply flex items-center bg-white w-full border-t-[1px] border-slate-300 p-6;
  }

  .sign-in_dialog {
    @apply border bg-card text-card-foreground w-full rounded-xl shadow-lg border-none p-9 flex flex-col items-start justify-center;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
      background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #5c5c7b;
      border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #7878a3;
  }

  .leftsidebar_link {
    @apply flex items-center justify-start gap-4 rounded-lg px-2.5 py-3.5 mb-[-12px];
  }
}

/* Config Shacdn Components */

.logo_text {
  @apply max-sm:hidden font-semibold text-lg text-black tracking-wide;
}

.button_social {
  @apply inline-flex items-center justify-center text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 rounded-lg px-8 w-full ml-2
}

.search_input {
  @apply flex h-10 border border-slate-300 bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full lg:w-[600px] rounded-lg rounded-r-none focus-visible:ring-transparent pr-8;
}


/* Config Shacdn Components */